@tailwind base;
@tailwind components;
@tailwind utilities;

/* Why won't importing files work?
@import 'fonts.css';
@import 'utilities.css'; */

html * {
  font-family: 'JetBrainsMono' !important;
}

*:hover > .parent-hover-opacity-100 { opacity: 1; }
*:hover > .parent-hover-opacity-70 { opacity: 0.7; }

/* Utilities */

:root {
  --foreground-color: #D2D7DB;
  --light-color: #A69C90;
  --accent-color: #3AAD3A;
  --dark-color: #282D3B;
  --background-color: #221F2B;
}

@layer utilities {
  .fg-foreground { color: var(--foreground-color); }
  .fg-light      { color: var(--light-color);      }
  .fg-accent     { color: var(--accent-color);     }
  .fg-dark       { color: var(--dark-color);       }
  .fg-background { color: var(--background-color); }

  .bg-foreground { background-color: var(--foreground-color); }
  .bg-light      { background-color: var(--light-color);      }
  .bg-accent     { background-color: var(--accent-color);     }
  .bg-dark       { background-color: var(--dark-color);       }
  .bg-background { background-color: var(--background-color); }

  .hover\:bg-foreground:hover { background-color: var(--foreground-color); }
  .hover\:bg-light:hover      { background-color: var(--light-color);      }
  .hover\:bg-accent:hover     { background-color: var(--accent-color);     }
  .hover\:bg-dark:hover       { background-color: var(--dark-color);       }
  .hover\:bg-background:hover { background-color: var(--background-color); }

  .b-foreground { border-color: var(--foreground-color); }
  .b-light      { border-color: var(--light-color);      }
  .b-accent     { border-color: var(--accent-color);     }
  .b-dark       { border-color: var(--dark-color);       }
  .b-background { border-color: var(--background-color); }

  .hover\:b-foreground:hover { border-color: var(--foreground-color); }
  .hover\:b-light:hover      { border-color: var(--light-color);      }
  .hover\:b-accent:hover     { border-color: var(--accent-color);     }
  .hover\:b-dark:hover       { border-color: var(--dark-color);       }
  .hover\:b-background:hover { border-color: var(--background-color); }

  .page-background {
    background-image: url('images/background.png');
  }
}

/* Fonts */

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("fonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
