<div class='w-screen h-screen flex bg-background'>
  <div class='flex flex-row'>
    <div class='w-96 p-8 bg-dark flex flex-col items-center'>
      <h2 class='text-4xl font-extrabold fg-accent'>Tyler J Vezina</h2>
      <h3 class='mt-2 text-3xl font-semibold fg-light'>Game Developer</h3>
      <div class='w-72 h-72 my-4 bg-foreground'></div>
    </div>
  </div>
</div>

{{outlet}}